<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page_title %></title>
    <style>
        td,th{border: 1px solid black;}
    </style>
</head>
<body>
    <h1><%= page_title %></h1>
    <a href="/crs/Add">Add Course</a>
    <table>
        <tr>
            <th></th>
            <th>Course name</th>
            <th></th>
        </tr>
        <% for(let crs of courses) { %> 
            <tr>
                <td>
                    <a href="/crs/Edit/<%= crs.id %>">edit</a>
                </td>
                <td><%= crs.name %></td>
                <td>
                    <form action="/crs/Delete" method="post">
                        <input type="hidden" name="id" value="<%= crs.id %>">
                        <button>Delete</button>
                    </form>
                </td>
            </tr>
        <% } %>
    </table>
</body>
</html>