<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add user</title>
</head>
<body>
    <h1>add manager</h1>
    <form action="" method="post">
        <label for="name">name</label>
        <input type="text" name="name" id="name" value="<%= data.name %>"/>
        <br>
        <label for="uname">user name</label>
        <input type="text" name="uname" id="uname" value="<%= data.uname %>"/>
        <br>
        <label for="passwd">password</label>
        <input type="text" name="passwd" id="passwd" value=""/>
        <br>
        <label for="email">email</label>
        <input type="text" name="email" id="email" value="<%= data.email %>"/>
        <br>
        <label for="tz">tz</label>
        <input type="text" name="tz" id="tz" value="<%= data.tz %>"/>
        <br>
        <label for="type_id">id</label>
        <select name="type_id" id="type_id">
            <option value="1" <%= data.type_id == 1 ? 'selected' : '' %>>Admin</option>
            <option value="2" <%= data.type_id == 2 ? 'selected' : '' %>>teacher</option>
            <option value="3" <%= data.type_id == 3 ? 'selected' : '' %>>student</option>
        </select>
        <br>
        <button>send</button>
    </form>
</body>
</html>